* {
    all: unset;
}

* {
    font-size: 13px;
}

window#waybar {
    background-color: #{{ .theme.wallpaper }};
    color: #{{ .theme.text }};
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 4px 8px;
    margin: 4px;
    border-radius: {{ .theme.border_radius }}px;
    background-color: #{{ .theme.surface }};
}

#workspaces button.focused, #workspaces button.active {
    background-color: #{{ .theme.accent }};
    color: #{{ .theme.background }};
}

#workspaces button.urgent {
    background-color: #{{ .theme.danger.background }};
    color: #{{ .theme.danger.text }};
}

.module {
    padding: 4px 12px;
    margin: 4px;
}

.module:not(#workspaces):not(#window) {
    border-radius: {{ .theme.border_radius }}px;
    background-color: #{{ .theme.background }};
}

#battery.charging, #battery.plugged, #battery.full {
    color: #{{ .theme.success.text }};
}

#battery.critical:not(.charging) {
    background-color: #{{ .theme.danger.background }};
    color: #{{ .theme.danger.text }};
}

tooltip {
    border-radius: {{ .theme.border_radius }}px;
    background-color: #000000;
}

tooltip label {
    padding: 4px 8px;
}

#wireplumber.muted {
    color: #{{ .theme.danger.text }};
}

#network.disconnected {
    color: #{{ .theme.danger.text }};
}

