anchor=top-right
layer=overlay
outer-margin=20

font=sans 10
background-color=#{{ .theme.background }}
border-color=#{{ .theme.border }}
border-radius={{ .theme.border_radius }}
border-size={{ .theme.border_width }}
text-color=#{{ .theme.text }}
width=400
height=200
padding=20
margin=10
