window#osd {
  background: #{{ .theme.background }};
  border-radius: {{ .theme.border_radius }}px;
  border: {{ .theme.border_width }}px solid #{{ .theme.border }};
}

window#osd #container {
  margin: 16px;
}

window#osd image,
window#osd label {
  color: #{{ .theme.text }};
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 999px;
  border: none;
  background: transparent;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #{{ .theme.border }};
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #{{ .theme.accent }};
}
